.blue-borders{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:solid 1px rgb(0 163 226);
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 26px;
}

.signup-text h3 {
    color: rgb(0 163 226);
    font-weight: 500;
    text-align: center;
    padding-top: 46px;
}

.signup-text p {
    color: #707070;
    padding-bottom: 27px;
    text-align: center;
}


.signup-text img {
        width: 50%;
        padding-bottom: 7px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.signup-form input {
    background: white;
    width: 62%;
    margin-left: 3%;
    padding-top: 10px;
    color: black;
    padding-bottom: 7px;
    border-radius: 6px;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
    width: 33%;
}
.signup-form button{
    /* width: 100%; */
    border-radius: 6px;
}

@media (min-width: 1440px){
    .signup-form input {
        width: 45vw;
    }
    
    .ReactFlagsSelect-module_selectOptions__3LNBJ {
        width: 10vw;
    }
}
@media (min-width: 756px) and (max-width: 991px){
.signup-form input {
    width: 37vw;
}

}
@media (min-width: 320px) and (max-width: 576px){
    .ReactFlagsSelect-module_flagsSelectInline__cUnnz {
        display: inline-block;
        width: 100%;
    }
    
    .ReactFlagsSelect-module_selectOptions__3LNBJ {
        width: 100%;
    }

    .signup-form input {
        background: white;
        width: 100%;
        margin-left: 0;
        padding-top: 5px;
        color: black;
        padding-bottom: 5px;
        border-radius: 6px;
    }
}
