.HomeImage1{
    position: absolute;
    right: 23%;
    top: 41%;
    width: 61%;
}

.homePhoneImg{
    width: 85%;
    position: relative;
    padding-top: 23%;
}


.HomeImage4{
    position: absolute;
    right: 26%;
    top: 76%;
    width: 57%;
}

.home4logo{
    position: absolute;
    right: 27%;
    top: 33%;
    width: 54%;
}


.HomeImage5{
    position: absolute;
    right: 16%;
    top: 63%;
    width: 74%;
}

.Home1-text , .Home5-text{
    padding-top: 28%;
}


.home5-number{
    position: absolute;
    right: 23%;
    top: 25%;
    color: white;
    font-size: 7vw;
}

.home5-par{
    position: absolute;
    right: 32%;
    top: 46%;
    color: white;
    font-size: 1.4vw;
}


.Home5-text h1{
    /* font-family: Amasis MT Std Medium; */
    font-size: 2rem;
}

.Home1-text h1{
    /* font-family: Amasis MT Std Medium; */
}
.Home1-text p, .Home5-text p{
    font-family: "Calibri Light";
    line-height: 28px;
    color: gray;
    font-size: 1.2rem;
    width: 90%;
}

.Home1-text button,.Home5-text button{
    border-color: #00a3e2;
    color: #00a3e2;
    border-radius: 5px;
    margin-top: 11%;
    float:right;
    margin-left: 8%;
}

.Home2-Title h1{
    color:black;
    /* font-family: Amasis MT Std Medium; */
    font-size: 2.1rem;
}
.Home2-Title p{
    color: gray;
    font-family: "Calibri Light";
    font-size: 1.2rem;
    width: 80%;
}


.HomePhone-sec{
    background-image: url("../../images/blue-back.png");
    background-position: bottom;
    background-position-y: 357px;
    background-repeat: no-repeat;
    background-size: cover;
}

.alice-carousel {
    position: relative;
    /* width: 65%; */
    margin: auto;
    direction: revert;
    padding-left: 7%;
    padding-right: 8%;
}


.HomePhone-sec img{
    width: 100%;
    position: relative;
}


.Home-phones img{
    width: 100%;
    position: relative;
    /* left: 3%; */
    top: 13px;
    padding-bottom: 16px;
}

.Home-phones button{
    border-radius: 7px;
    color: #1f93fa;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.parCar-1{
  
    position: relative;
    top: -42px;
    width: 61%;
    /* left: 23%; */
    height:57px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.parCar-1 p{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: white;
}

.parCar-2{
    text-align: initial;
    width: 63%;
    position: relative;
    /* left: 29%; */
    color:white;
    top: -42px;
    height: 50px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.parCar-2 p{
    text-align: initial;
    color:white;
}

.div-par{
    height:125px;
}
.rec-carousel-item {
    width: 29%;
}
.cetQhm {
    display: none;
}

/********************** Responsive ******************/




@media (min-width:1441px){

    .Home1-text p, .Home5-text p {
        line-height: 42px;
        font-size: 1.9rem;
    }

    .Home2-Title p {
        font-size: 1.9rem;
    }

    .Home5-text h1,.Home1-text h1 {
        font-size: 2.5rem;
    }

    .Home1-text button ,.Home5-text button {
        font-size: 23px;
        height: 60px;
    }

    .alice-carousel__dots {
        opacity: 0;
    }

    .HomePhone-sec{
        background-size: contain;
        background-position-y: bottom;
    }
    
    .parCar-1 {
        top: -67px;
        padding-top: 2px;
        padding-bottom: 27px;
    
    }
    
    .parCar-1 p{
        font-size: 27px;
    }
    
    .parCar-2 {
        top: -40px;
        padding-top: 10px;
    }

    .parCar-2 p{
        font-size: 22px;
    }

    .Home-phones button {
        /* top: -58px; */
        margin-top: 4%;
        font-size: 18px;
}

}


@media (min-width:992px) and (max-width:1440){

    .alice-carousel__dots {
        opacity: 0;
    }
    .alice-carousel__stage-item {
        max-width: 373px;
        left: 10%;
    }
    
}


@media (min-width:757px){

    .alice-carousel__dots {
        opacity: 0;
    }

    
    
}

@media (min-width: 768px) and (max-width: 991px){

    .Home1-text {
        padding-top: 20%;
    }

    .Home5-text h1 {
        font-size: 1.7rem;
    }

.alice-carousel__dots {
        opacity: 0;
    }

.Home1-text h1{
    font-size: 30px;
}

.Home1-text p {
    /* font-size: 13px; */
}
.parCar-1 {
    top: -20px;
}

.parCar-1 p {
    font-size: 15px;
}

.parCar-2 {
    top: -23px;
    font-size: 12px;
}

.parCar-2 p {
    font-size: 12px;
}

.HomePhone-sec {
    background-size: cover;
    background-position-y: 311px;

   }

   .div-par {
    height: 114px;
}


}


@media (min-width: 576px) and (max-width: 767px){

    .Home1-text, .Home5-text {
        padding-top: 5%;
    }

    .Home1-text button,.Home5-text button{
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    }
    .Home5-text button{
        margin-left: 0;
    }

    .home5-number{
        font-size: 10vw;
    }

    .home5-par{
        font-size: 2.3vw;
    }


    .Home1-text{
        padding-top: 12%;
    }
    .Home1-text h1{
        font-size: 39px;
    }
    .Home1-text p {
        /* font-size: 18px; */
        padding-top: 2%;
    }


    .div-par {
        height: 168px;
    }

   .parCar-1 p {
    font-size: 15px;
   }

   .parCar-2 p {
    font-size: 15px;
}

   .HomePhone-sec {
    background-size: cover;
    background-position-y: 244px;

   }
}
@media (min-width: 320px) and (max-width: 575px){

    .Home1-text button,.Home5-text button{
        float: left;
        margin-bottom: 22%;
        }
        .Home5-text button{
         margin-left: 0;
        }

        .Home5-text h1 {
         font-size: 1.7rem;
        }

    .home5-number{
        font-size: 12vw;
        right: 28%;
    }

    .home5-par{
        font-size: 3vw;
    }

    .div-par {
        height: 150px;
    }
    .Home1-text{
        padding-top: 12%;
    }
    .Home1-text h1{
        font-size: 28px;
    }
    .Home1-text p ,.Home2-text p,.Home5-text p,.Home2-Title p {
        /* font-size: 12px; */
        padding-top: 7%; 
        line-height: 30px;
    }

    .rec-carousel-item {
        width: 35%;
    }
    .SpQeE {
        position: relative;
        left: 2%;
    }
    .HomePhone-sec {
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 420px;

    }

    .Home-phones{
        padding-top: 73px;
    }
    .parCar-1 p{
        font-size: 16px;
        font-weight: 500;
    }

 

    .parCar-2 {
        top: -55px;
        font-size: 14px;
    }

    .parCar-2 p {
        font-size: 14px;
    }


}