.box-form{
  /* box-shadow: 18px 18px #1890ff; */
  box-shadow: 25px 24px 1px -5px #1890ff, -8px -1px 20px -5px rgb(0 0 0 / 19%);
  width: 90%;
}

.contact-form{
  padding-top: 50px;
  padding-left: 34px;
  padding-right: 35px;
}

.contact-form button{
  width: 100%;
}

.checkbox{
  padding-bottom: 50px;
  padding-top: 14px;
}

.contact-text {
   position: relative;
   top: 32%;
   margin-bottom: 71%;
}

.contact2-text {
  position: relative;
  top: 143px;
  padding-bottom: 38%;
}