.how-text{
    padding-top: 28%;
 
  }
  
  .how-text h1{
    color: white;;
  }
  
  .how-text p{
    /* padding-top: 35px; */
    color: white;
    font-size: 1.2rem;
  }

  @media (min-width:1441px){
    .how-text p{
      font-size: 1.9rem;
    }
  }