.about-text1{
  position: relative;
    top: 32%;
}

.about-text1 h2{
  text-align: center;
}

/* .about-text1 img{
  width: 100%;
} */

.features-image{
  background-color: #1890ff;
  height: 100vh;
}

.features-text {
  text-align: center;
  padding-top: 12vh;
  color: white;
  width: 33vw;
  margin-left: 34%;
}
.features-text h2{
  color: white;
}

.features-text button{
  border-radius: 50px;
}

.features-text img{
  padding-top: 15vh;
}

.how-text{
  padding-top: 46%;
}

.how-text h3{
  color: white;;
}

.how-text p{
  padding-top: 35px;
  color: white;;
}

.how-text button{
  margin-top: 16%;
    border-radius: 50px;
    border: solid 1px #daa21b;
    color: #daa21b  ;
    background: #38454c;
}

/* .AboutImage img{
  position: absolute;
  bottom: 31%;
  width: 28%;
  margin-left: 13%;
} */

/********************** responsive ********/

@media (min-width: 320px) and (max-width: 576px){
  .about-text1{
      top: 2%;
  }
  .about-text1 p{
    padding-left: 14%;
  }

  .how-text {
    padding-top: 9%;
    font-size: 14px;
  }
  .how-text h3 {
    color: white;
    font-size: 24px;
}
  

}

@media (min-width: 576px) and (max-width: 768px){

  .about-text1 p{
    font-size: 11px;
  }
  .about-text1 h2{
    font-size: 24px;
  }
  .how-text {
    padding-top: 13%;
  }
}

@media (min-width: 767px) and (max-width: 991px){

  .about-text1 p{
    font-size: 11px;
  }
  .about-text1 h2{
    font-size: 24px;
  }
}